# Dependencias
node_modules/
.pnpm-store/

# Archivos de construcción / Build output
dist/
build/
.next/
out/

# Entornos virtuales de Python (si aplicara)
venv/
.venv/
__pycache__/

# Archivos de entorno y credenciales (¡NUNCA SUBIR!)
.env
.env.local
.env.*.local

# Archivos del sistema y editores
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# Logs y Caché
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.gga-cache/
.cache/
.md
.gga